<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- This is an example for providing an own category        -->
                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.workbench.repository.categories">
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <category description="OpenChemLib Nodes" icon="icons/ocl_category.png" level-id="ocl" name="OpenChemLib" path="/community"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <category description="Input/Output" icon="icons/ocl_io.png" level-id="io" name="Input/Output" path="/community/ocl"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <category description="Manipulation" icon="icons/ocl_manipulation.png" level-id="manipulation" name="Manipulation" path="/community/ocl"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <category description="Calculation" icon="icons/ocl_calculation.png" level-id="calc" name="Calculation" path="/community/ocl"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <category description="Converters" icon="icons/ocl_conversion.png" level-id="convert" name="Converters" path="/community/ocl"/>
                                                                                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.workbench.repository.nodes">
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/io" factory-class="com.actelion.research.knime.nodes.io.OCLFileReaderNodeFactory" id="com.actelion.research.knime.nodes.io.OCLFileReaderNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/io" factory-class="com.actelion.research.knime.nodes.io.OCLFileWriterNodeFactory" id="com.actelion.research.knime.nodes.io.OCLFileWriterNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLLargestFragmentNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLLargestFragmentNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLCalculatePropertiesNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLCalculatePropertiesNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLCalculateSimilarityNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLCalculateSimilarityNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLCalculateSimilarityListNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLCalculateSimilarityListNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLCalculateDescriptorNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLCalculateDescriptorNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLClusterMoleculesNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLClusterMoleculesNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLDiverseSelectionNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLDiverseSelectionNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLSubstructureFilterNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLSubstructureFilterNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLSubstructureFilterListNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLSubstructureFilterListNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLCombinatorialLibraryNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLCombinatorialLibraryNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLScaffoldAnalysisNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLScaffoldAnalysisNodeFactory"/>
                                                                                                                                                                                        
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/convert" factory-class="com.actelion.research.knime.nodes.conversion.MolToOCLNodeFactory" id="com.actelion.research.knime.nodes.conversion.MolToOCLNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/convert" factory-class="com.actelion.research.knime.nodes.conversion.OCLToMolNodeFactory" id="com.actelion.research.knime.nodes.conversion.OCLToMolNodeFactory"/>
                                                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/convert" factory-class="com.actelion.research.knime.nodes.conversion.IdCodeToOCLNodeFactory" id="com.actelion.research.knime.nodes.conversion.IdCodeToOCLNodeFactory"/>
                                                                                                                                                                                        
    
        
        
        
        
        
        
        
        
        
                                                                            
        
        
        
        
        
        
        
        
                                                                    
        
        
        
                            
        
        
                    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLConformerGeneratorNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLConformerGeneratorNodeFactory"/>
                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLForceFieldMinimizationNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLForceFieldMinimizationNodeFactory"/>
                                                                                                                            
        
        
        
                            
        
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/convert" factory-class="com.actelion.research.knime.nodes.conversion.ConformerListToMolNodeFactory" id="com.actelion.research.knime.nodes.conversion.ConformerListToMolNodeFactory"/>
                                                                                                            
        
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/convert" factory-class="com.actelion.research.knime.nodes.conversion.ConformerListToPhesaMoleculeNodeFactory" id="com.actelion.research.knime.nodes.conversion.ConformerListToPhesaMoleculeNodeFactory"/>
                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLPhesaEvaluatorNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLPhesaEvaluatorNodeFactory"/>
                                                                                            
        
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/convert" factory-class="com.actelion.research.knime.nodes.conversion.MolToConformerListNodeFactory" id="com.actelion.research.knime.nodes.conversion.MolToConformerListNodeFactory"/>
                                                                                    
        
        
        
        
        
        
        
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLClusterConformerListsNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLClusterConformerListsNodeFactory"/>
                                                                            
        
            
        
        
        
        
        
        
        
        <node category-path="/community/ocl/io" factory-class="com.actelion.research.knime.nodes.io.OCLSketcherNodeFactory" id="com.actelion.research.knime.nodes.io.OCLSketcherNodeFactory"/>
                                                            
        
            
        
        
        
        
        
        <node
              category-path="/"
              factory-class="com.actelion.research.knime.nodes.hyperspace.HyperspaceSubstructureSearchNodeFactory"
              hidden="true"
              id="com.actelion.research.knime.nodes.hyperspace.HyperspaceSubstructureSearchNodeFactory"/>
                                            
        
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLNewCalculateSimilarityNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLNewCalculateSimilarityNodeFactory"/>
                                    
        
        
        
        <node category-path="/community/ocl/calc" factory-class="com.actelion.research.knime.nodes.calculation.OCLNewCalculateSimilarityListNodeFactory" id="com.actelion.research.knime.nodes.calculation.OCLNewCalculateSimilarityListNodeFactory"/>
                            
        
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLNewClusterMoleculesNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLNewClusterMoleculesNodeFactory"/>
                    
        
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLNewDiverseSelectionNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLNewDiverseSelectionNodeFactory"/>
            
        <node category-path="/community/ocl/manipulation" factory-class="com.actelion.research.knime.nodes.manipulation.OCLNewSubstructureFilterListNodeFactory" id="com.actelion.research.knime.nodes.manipulation.OCLNewSubstructureFilterListNodeFactory"/>
    </extension>
                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.product.splashExtension">
                                                                                                                                                                        		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <splashExtension icon="icons/ocl_splash.png" icon24="icons/ocl_splash_24.png" icon32="icons/ocl_splash_32.png" id="ocl" tooltip="OpenChemLib"/>
                                                                                                                                                                        	
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.core.DataType">
                                                                                                                                                                               
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <DataType cellClass="com.actelion.research.knime.data.OCLMoleculeDataCell">
                                                                                                                                                                                                                                                                      
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <serializer cellClass="com.actelion.research.knime.data.OCLMoleculeDataCell" serializerClass="com.actelion.research.knime.data.OCLMoleculeDataCellSerializer">
          </serializer>
                                                                                                                                                                                                                                                                   
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </DataType>
                                                                                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.core.DataType">
                                                                                                                                                                               
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <DataType cellClass="com.actelion.research.knime.data.OCLDescriptorDataCell">
                                                                                                                                                                                                                                                                      
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <serializer cellClass="com.actelion.research.knime.data.OCLDescriptorDataCell" serializerClass="com.actelion.research.knime.data.OCLDescriptorDataCellSerializer">
          </serializer>
                                                                                                                                                                                                                                                                   
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </DataType>
                                                                                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.core.DataType">
                                                                                                                                                       
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <DataType cellClass="com.actelion.research.knime.data.OCLConformerListDataCell">
                                                                                                                                                                                                                                  
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <serializer cellClass="com.actelion.research.knime.data.OCLConformerListDataCell" serializerClass="com.actelion.research.knime.data.OCLConformerListDataCellSerializer">
          </serializer>
                                                                                                                                                                                                                               
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </DataType>
                                                                                                                                                    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.core.DataType">
                                                                                                               
        
        
        
        
        
        
        
        
        
        
        
        
        <DataType cellClass="com.actelion.research.knime.data.OCLConformerDataCell">
                                                                                                                                                                      
            
            
            
            
            
            
            
            
            
            
            
            
            <serializer cellClass="com.actelion.research.knime.data.OCLConformerDataCell" serializerClass="com.actelion.research.knime.data.OCLConformerDataCellSerializer">
          </serializer>
                                                                                                                                                                   
        
        
        
        
        
        
        
        
        
        
        
        
        </DataType>
                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    <extension point="org.knime.core.DataType">
                                                                                                               
        
        
        
        
        
        
        
        
        
        
        
        
        <DataType cellClass="com.actelion.research.knime.data.OCLPheSAMoleculeDataCell">
                                                                                                                                                                      
            
            
            
            
            
            
            
            
            
            
            
            
            <serializer cellClass="com.actelion.research.knime.data.OCLPheSAMoleculeDataCell" serializerClass="com.actelion.research.knime.data.OCLPheSAMoleculeDataCellSerializer">
          </serializer>
                                                                                                                                                                  
        
        
        
        
        
        
        
        
        
        
        
        
        </DataType>
                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    </extension>
                                                                                    




















</plugin>
